version: 2.1

orb_prep_jobs: &orb_prep_jobs
  [
    orb-tools/lint,
    orb-tools/shellcheck,
    orb-tools/pack
  ]

orb_promotion_filters: &orb_promotion_filters
  branches:
    ignore: /.*/
  tags:
    only: /^(major|minor|patch)-release-v\d+\.\d+\.\d+$/

orbs:
  orb-tools: circleci/orb-tools@9.2
  plugin-ci: mattermost/plugin-ci@<<pipeline.parameters.dev-orb-version>>

parameters:
  run-integration-tests:
    type: boolean
    default: false
  dev-orb-version:
    type: string
    default: "dev:alpha"

jobs:
  integration-tests-for-your-orb:
    executor: orb-tools/ubuntu
    steps:
      - checkout
    # Test your orb e.g.
    # - your-orb/your-orb-command

workflows:
  plugin-ci_lint_pack-validate_publish-dev:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint:
          lint-dir: plugin-ci
      - orb-tools/shellcheck:
          source-dir: plugin-ci
      - orb-tools/pack:
          source-dir: plugin-ci
      - orb-tools/publish-dev:
          context: matterbuild-circleci-token
          publish-token-variable: CIRCLECI_TOKEN
          orb-name: mattermost/plugin-ci
          requires: *orb_prep_jobs
      - orb-tools/trigger-integration-tests-workflow: # todo no tests currently
          context: matterbuild-circleci-token
          token-variable: CIRCLECI_TOKEN
          name: trigger-integration-dev
          requires:
            - orb-tools/publish-dev

  plugin-ci_integration-tests: # set to false above no tests currently
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      - integration-tests-for-your-orb

  # Trigger by running git tag patch-release-v0.0.1
  # and then git push origin patch-release-v0.0.1
  plugin-ci_tag-triggered-orb-publishing:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - hold-for-approval:
          type: approval
          filters: *orb_promotion_filters
      - orb-tools/dev-promote-prod-from-git-tag:
          context: matterbuild-circleci-token
          publish-token-variable: CIRCLECI_TOKEN
          perform-branch-check: false # merge squash
          orb-name: mattermost/plugin-ci
          add-pr-comment: false
          requires:
            - hold-for-approval
          filters: *orb_promotion_filters
